.btn--receive-cash{
    position: relative;
    width: 40.4em;
    height: 7em;
    background-color: $blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span{
        font-size: 1.8em;
        color: $white;
    }
}