.sales{

    .right-content-data{
        margin-top: 1rem;
        height: 82vh;
        max-height: 100%;
        
    }
    .left-content-data {
        overflow: hidden;
    }
    .layout-left--container{
        @include mediaMixin(mobile){
            min-height: 90vh !important;
            max-height: 90vh !important;
        }
     

    }

}