.layout {
    width: 100%;
    height: 100%;
    padding: 0 8.4rem 0 0;

    .navbar {
        // right navbar style here to make reuseable over all site
        background-color: $lightGray1;
        height: 7.2rem;

        .navbar-brand {
            font-size: 1.4rem;
            color: $black;
            font-family: 'bold';
        }
    }

    &-right {
        padding: 0 !important;
        max-height: 100vh;
        &--container {
            width: 100%;
            min-height: 100vh;
            height: 100%;
            position: relative;
              // main right content container this module is reuseable over all site
              .right-content-data{
                max-height: 55vh;
                overflow-y: scroll;
                border: 2px solid rgb(25, 60, 177);
                // @media screen  and (min-width:1920px){
                // max-height: 55vh;
                    
                // }
            }
        }
    }

    &-left {
        padding: 0 !important;
        &--container {
            height: 100%;
            width: 100%;
            min-height: 100vh;
            background-color: $white;

            // padding: 10px;
            .appbar {
                background-color: $blue;
                height: 5.2rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 16px;

                span {
                    font-family: 'bold';
                    font-size: 1.4rem;
                    color: $white;
                }
            }
            .left-content-data{
                padding: 0 24px;
            }
        }

    }
}