.products-card-list{
    position: relative;
    font-size: 1rem;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    @include mediaMixin(xxxlScreen){
        font-size: 1.15rem;
    }
    @include mediaMixin(xxlScreen){
        font-size: 0.91rem;
    }
    @include mediaMixin(lgDesktop){
        font-size:0.69rem;
    }
    @include mediaMixin(desktop){
        font-size:0.69rem;
    }
    @include mediaMixin(tabltes){
        font-size:0.76rem;
    }
    @include mediaMixin(smTabltes){
        font-size: 7px;
    }
    @include mediaMixin(mobile){
        font-size: 5px;
    }
}