.products-card-list{
    position: relative;
    font-size: 1rem;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    @include mediaMixin(lgDesktop){
        font-size: 9px;
    }
    @include mediaMixin(desktop){
        font-size: 8px;
    }
    @include mediaMixin(tabltes){
        font-size: 7px;
    }
    @include mediaMixin(smTabltes){
        font-size: 6px;
    }
    @include mediaMixin(mobile){
        font-size: 5px;
    }
}