.side-receiveDevice{
    position: fixed;
    left: 0;
    bottom: 0;
    width:0;
    height: 100vh;
    z-index: 22229898;
    background-color: $darkGray;
    .invoice .searchInput{
            width: 100%;
    }
    .layout-left--container{
        background-color: rgb(213, 213, 213);
    }
}